<h1 style="color:green">
    <a href="/home">
        <center style="color:white;background-color:blue">
            Musicical Instruments
        </center>
    </a>
</h1>
<br>

<body>
    <div>
        <ul>
            <li>
                <a href="/home/guitar">Guitar</a>
                <a href="/home/Violin">Violin</a>
                <a href="/home/Flute">Flute</a>
                <a href="/home/Trumpet">Trumpet</a>
                <a href="/home/Drums">Drums</a>
            </li>
        </ul>
    </div>
    <div>
        <h2 style="color:white;background-color:green">Violin</h2>
        <p>The violin, sometimes known as a fiddle, is a wooden string instrument in the violin family. Most violins
            have a hollow wooden body. It is the smallest and highest-pitched instrument (soprano) in the family in
            regular use. Smaller violin-type instruments exist, including the violino piccolo and the pochette, but
            these are virtually unused. The violin typically has four strings, usually tuned in perfect fifths with
            notes G3, D4, A4, E5, and is most commonly played by drawing a bow across its strings. It can also be played
            by plucking the strings with the fingers (pizzicato) and, in specialized cases, by striking the strings with
            the wooden side of the bow</p>
        <img
            src="https://images.pexels.com/photos/34221/violin-musical-instrument-music-sound.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500">

    </div>
</body>