<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <h2>Album:Songs</h2>
    {% if songs|length != 0 %}
    <table class="table table-striped table-sm">
        <tr class="thead-dark">
            <th>Name</th>
            <th>Song</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Released</th>
            <th>Language</th>
        </tr>

        {%for song in songs %}
        <tr>

            <td>{{song.name}}</td>

            <td>
                {% if song.file %}
                <audio controls><source src="{{song.file.url}}" type="audio/mp3">Error</audio>
                {%else%}
                No Song uploaded
                {%endif%}
            </td>
            <td>{{song.album}}</td>
            <td>{{song.artist}}</td>
            <td>{{song.released}}</td>
            <td>{{song.language}}</td>


        </tr>
        {% endfor %}
        {%else%}
        <p class='text text-danger'>No Songs/Album !!!</p>
        {% endif%}
    </table>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>