<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create album</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <center>
        <H1>Registration Page</H1>
    </center>
    <H3>Enter Details</H3>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {%if error%}
        <p class="text-danger">{{error}}</p>
        {%endif%}
        <div class="form-group">
            <label>Full name</label>
            <input type="text" class="form-control p-2" placeholder="User name" value="{{l_full_name}}" name="full_name" required><br>
        </div>
        <div class="form-group">
            <label>User name</label>
            <input type="text" class="form-control" placeholder="User name" value="{{last_un}}" name="uname" required>
            {% if uerror %}
            <p class="text-danger">{{uerror}}</p><br>
            {%endif%}
        </div>
         <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="email" value="{{last_em}}" name="email" required><br>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password" autofocus required><br>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="Password" name="confirm_password" autofocus required><br>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>