{% load static %}

<head>
    <style>

    </style>
    <link rel="stylesheet" href="{%static '/css/main.css'%}">
</head>
<h1 style="color:green">
    <a href="/music">
        <center class='mtitle'>
        </center>
    </a>
</h1>

<body>
    <div>
        <ul>
            <!--  template context processor      -->
            <!-- <li>{{name}}</li>
        <li>{{name}}:{{age}}</li>
        <li>list:{{li}}</li> -->
            {% for name,url in details %}
            <a class='instumentlink' href={{url}}>
                <span>{{name}}</span>
            </a>
            {% endfor %}
            <!-- {% for i in li %}
        <li>{{i}}</li>
        {% endfor %} -->

        </ul>
        <a class=" contactus" href="/music/contactus">Contact Us</a><br><br>
    </div>

    <img class='main' src="{%static 'people-at-concert-1105666.jpg'%}">
</body>