{% extends 'main.html'%}

{% block content %}
<p>The Web Developer Bootcamp Udemy</p>
<div class="container">
    <h3 class="text-primary">I am h3 primary</h3>
    <h3 class="text-danger">I am h3 danger</h3>
    <h3 class="text-info">I am h3 info</h3>
    <h3 class="text-success">I am h3 success</h3>
    <h3 class="text-white bg-light">I am h3</h3>
    <h3 class="text-light bg-dark">I am h3 light</h3>
    <h3 class="text-warning">I am h3 warning</h3>
</div>
<div class="container bg-light">
    <h1>Regular</h1>
    <h1 class="display-1 ">display-1</h1>
    <h1 class="display-2">display-2</h1>
    <h1 class="display-3">display-3</h1>
    <h1 class="display-4">display-4</h1>
</div>
<div class="container bg-light">
    <blockquote class="blockquote">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto nisi ipsum aut, corporis ut delectus, tempore
            odio fuga eaque at dolore sunt exercitationem molestias illo dolorum nulla error ipsa doloribus.</p>
        <footer class="blockquote-footer">written by <cite title="Blue Fox">Blue Fox</cite></footer>
    </blockquote>
    <blockquote class="blockquote text-right mt-2">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto nisi ipsum aut, corporis ut delectus, tempore
            odio fuga eaque at dolore sunt exercitationem molestias illo dolorum nulla error ipsa doloribus.</p>
        <footer class="blockquote-footer">written by <cite title="Blue Fox">Blue Fox</cite></footer>
    </blockquote>
</div>
{% endblock  %}